<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header justify-content-center">
      <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body mt-4">
      <form [formGroup]="resourceTypeForm">
        <div class="row">
          <!--name type resource-->
          <div class="col">
            <mdb-form-control>
              <input
                mdbInput
                mdbValidate
                type="text"
                id="nameTypeResource"
                class="form-control mb-4"
                formControlName="nameTypeResource"
              />
              <label mdbLabel class="form-label" for="nameTypeResource">
                Nombre del tipo de recurso
                <span class="text-danger">*</span>
              </label>
            </mdb-form-control>
          </div>
        </div>
      </form>

      <!--ALERT-->
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="
          nameTypeResourceField?.invalid &&
          (nameTypeResourceField?.dirty || nameTypeResourceField?.touched)
        "
      >
        <span *ngIf="nameTypeResourceField?.hasError('required')">
          <i class="fas fa-exclamation-circle mb-1"></i>
          Ingreso el nombre del nuevo tipo de recurso
        </span>
      </div>
      <!--ALERTS-->
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger btn-lg" (click)="close()">
        CANCELAR
      </button>
      <button
        type="button"
        class="btn btn-warning btn-lg"
        [disabled]="resourceTypeForm.invalid"
        (click)="save()"
      >
        GUARDAR
      </button>
    </div>
  </div>
</div>
<!-- success alert -->
<div class="position-fixed top-0 end-0 m-4 success">
  <div class="alert alert-success" role="alert" *ngIf="successCreate">
    Se ha creado un nuevo tipo de recurso exitosamente
  </div>
  <div class="alert alert-success" role="alert" *ngIf="successEdit">
    Se ha modificado el tipo de recurso exitosamente
  </div>
</div>