<mat-drawer-container class="main-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <p class="text-center fs-5">{{ 'Menú' | uppercase}}</p>
    <hr class="hr">
    <div class="menu">
      <a
        class="menu__item"
        routerLinkActive="active"
        [style.width.px]="150"
        *ngFor="let item of items"
        [routerLink]="item.route"
      >
        <div class="d-flex justify-content-start align-items-center py-1 ps-2">
          <i class="fas pe-3" [ngClass]="item.icon"></i>
          <span>{{item.name}}</span>
        </div>
      </a>

    </div>
  </mat-drawer>

  <div class="sidenav-content">
    <app-nav (toggleSideNav)="drawer.toggle()"></app-nav>
    <div class="py-4 px-5">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>
