<mat-drawer-container class="main-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <img src="assets/img/logo-netbookin.svg" [style.width.px]="150" [style.height.px]="30" alt=""/>

    <hr class="hr">
    <div class="menu">
      
      <div class="menu__label" *ngFor="let menu of listMenus">
        <strong>{{menu.label | uppercase}}</strong>
        <a
        class="menu__item"
        routerLinkActive="active"
        [style.width.px]="150"
        *ngFor="let submenu of filterByParent(menu.idMenu)"
        [routerLink]="menu.path + submenu.path"
      >
        <div class="d-flex justify-content-start align-items-center py-1 ps-2">
          <!-- <i class="fas pe-3" [ngClass]="item.icon"></i> -->
          <span> {{submenu.label}}</span>
        </div>
      </a>
      </div>

    </div>
  </mat-drawer>

  <div class="sidenav-content">
    <app-nav (toggleSideNav)="drawer.toggle()"></app-nav>
    <div class="py-4 px-5">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>
