<section class="container mb-5">
    <div class="welcome">
        <h2>BIENVENID&#x40; AL APLICATIVO DE RESERVAS</h2>
    </div>

    <div class="alert alert-info element-transition" role="alert">
        <i class="fa-solid fa-circle-info me-2"></i>
        RECUERDA QUE AQU&Iacute; PODRAS RESERVAR OFICINAS, SALAS, PARQUEADEROS Y MUCHO M&Aacute;S...
    </div>

    <div class="alert alert-info element-transition" role="alert">
        <i class="fa-solid fa-circle-info me-2"></i>
        NO OLVIDES QUE SI DESEAS CANCELAR UNA RESERVA PUEDES HACERLO &Uacute;NICAMENTE HASTA <strong>24 HORAS ANTES DE LA HORA DE INICIO</strong>.
    </div>
</section>
<section class="container">
    <div class="d-flex justify-content-center video">
        <video id="localVideo" class="video-size"  controls autoplay loop>
            <source src="../../../../assets/img/Y2meta.app - 10 Segundos.mp4"type="video/mp4"/>
        </video>
    </div>
</section>
