<div class="main-container">
  <div class="main-container__assets">
    <div class="logo-container">
      <img
        class="logo"
        alt="Netbookin Logo"
        src="assets/img/logo-netbookin.svg">
    </div>
    <img src="assets/img/paco.png"
         alt="Paco"
    >
  </div>
  <div class="main-container__form">
    <div class="card">
      <div class="card-body">
        <h2 class="text-center pb-4">¡Hola! Bienvenido</h2>
        <div
          class="text-muted pb-3"
          role="alert"
          *ngIf="userTypeField?.value == ''"
        >
          <i class="fa-solid fa-circle-info me-2"></i>
          Seleccione el tipo de usuario para continuar
        </div>
        <form [formGroup]="userForm">
          <mat-form-field appearance="outline">
            <mat-label>
              Tipo de Usuario
              <span class="text-danger">*</span>
            </mat-label>
            <mat-select formControlName="userType" id="userType">
              <mat-option value="Usuario">Usuario</mat-option>
              <mat-option value="Administrador">Administrador</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="userTypeField?.value == 'Usuario'" appearance="outline">
            <mat-label>
              Región
              <span class="text-danger">*</span>
            </mat-label>
            <mat-select id="region" formControlName="region">
              <mat-option
                *ngFor="let region of regions"
                [value]="region"
              >
                {{ region?.name | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="userTypeField?.value != ''">
            <mdb-form-control>
              <input
                mdbInput
                mdbValidate
                type="email"
                id="mail"
                class="form-control mb-4"
                formControlName="mail"
              />
              <label mdbLabel class="form-label" for="mail">
                Correo Electr&oacute;nico
                <span class="text-danger">*</span>
              </label>
            </mdb-form-control>
            <mdb-form-control>
              <input
                mdbInput
                mdbValidate
                type="password"
                id="password"
                class="form-control mb-4"
                formControlName="password"
              />
              <label mdbLabel class="form-label" for="password">
                Contrase&ntilde;a
                <span class="text-danger">*</span>
              </label>
            </mdb-form-control>

            <div class="row px-2 pt-3">
              <button
                type="button"
                class="btn btn-warning"
                (click)="onLogin()"
                [disabled]="userForm.invalid"
              >
                Iniciar Sesi&oacute;n
              </button>
              <span *ngIf="userForm.invalid" class="text-muted text-center pt-3" [style.font-size.px]="10"> Para poder continuar llene todos los campos obligatorios (*) </span>
            </div>
          </div>
        </form>
        <!-- <div *ngIf="userTypeField?.value != ''" class="my-5">
          <div class="text-center text-warning py-2">
            <a [target]="recoverPassword()">¿Olvidaste tu contrase&ntilde;a?</a>
          </div>
          <div class="text-center">
            ¿No tiene una cuenta?
            <a (click)="requestAccess()">
              <b class="text-warning ps-2">
                Solicite unirse a la plataforma
              </b>
            </a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<!--<div *ngIf="newUser" class="modal-background"></div>-->
<!--&lt;!&ndash; request access' dialog box &ndash;&gt;-->
<!--<div *ngIf="newUser" class="request-access-dialog">-->
<!--  <form [formGroup]="newUserForm">-->
<!--    <div class="modal-header">-->
<!--      <h5 class="modal-title">Ingrese el correo institucional</h5>-->
<!--    </div>-->

<!--    <div class="modal-body">-->
<!--      <div [ngClass]="{'mb-5': mailNewUserField?.invalid && (mailNewUserField?.dirty || mailNewUserField?.touched)}">-->
<!--        <mdb-form-control>-->
<!--          <input-->
<!--            mdbInput-->
<!--            mdbValidate-->
<!--            type="email"-->
<!--            id="mailNewUser"-->
<!--            class="form-control"-->
<!--            formControlName="mailNewUser"-->
<!--          />-->
<!--          <label mdbLabel class="form-label" for="mailNewUser">-->
<!--            Correo Electr&oacute;nico-->
<!--          </label>-->
<!--          <mdb-error-->
<!--            *ngIf="-->
<!--              mailNewUserField?.invalid &&-->
<!--              (mailNewUserField?.dirty || mailNewUserField?.touched)-->
<!--            "-->
<!--          >-->
<!--            <span *ngIf="mailNewUserField?.hasError('pattern')">-->
<!--              Correo no v&aacute;lido, debe tener el-->
<!--              formato <strong>usuario&#x40;netlife.net.ec</strong>-->
<!--            </span>-->
<!--          </mdb-error>-->
<!--        </mdb-form-control>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="modal-footer">-->
<!--      <button class="btn btn-cancel" (click)="closeRequestAccess()">CANCELAR</button>-->
<!--      <button class="btn btn-warning" (click)="sendRequestAccess()" [disabled]="newUserForm.invalid">ENVIAR</button>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->

<!--&lt;!&ndash; success request alert &ndash;&gt;-->
<!--<div class="position-fixed top-0 end-0 m-4 success-request">-->
<!--  <div class="alert alert-success" role="alert" *ngIf="successRequest">-->
<!--    Su solicitud se ha enviado exitosamente-->
<!--  </div>-->
<!--</div>-->


<!--<div *ngIf="recover" class="modal-background"></div>-->
<!--&lt;!&ndash; recover password dialog box &ndash;&gt;-->
<!--<div *ngIf="recover" class="request-access-dialog">-->
<!--  <form [formGroup]="newUserForm">-->
<!--    <div class="modal-header">-->
<!--      <h5 class="modal-title">Ingrese el correo institucional</h5>-->
<!--    </div>-->

<!--    <div class="modal-body">-->
<!--      <div [ngClass]="{'mb-5': recoverMailField?.invalid && (recoverMailField?.dirty || recoverMailField?.touched)}">-->
<!--        <mdb-form-control>-->
<!--          <input-->
<!--            mdbInput-->
<!--            mdbValidate-->
<!--            type="email"-->
<!--            id="recoverMail"-->
<!--            class="form-control"-->
<!--            formControlName="recoverMail"-->
<!--          />-->
<!--          <label mdbLabel class="form-label" for="recoverMail">-->
<!--            Correo Electr&oacute;nico-->
<!--          </label>-->
<!--          <mdb-error-->
<!--            *ngIf="-->
<!--              recoverMailField?.invalid &&-->
<!--              (recoverMailField?.dirty || recoverMailField?.touched)-->
<!--            "-->
<!--          >-->
<!--            <span *ngIf="recoverMailField?.hasError('pattern')">-->
<!--              Correo no v&aacute;lido, debe tener el-->
<!--              formato <strong>usuario&#x40;netlife.net.ec</strong>-->
<!--            </span>-->
<!--          </mdb-error>-->
<!--        </mdb-form-control>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="modal-footer">-->
<!--      <button class="btn btn-cancel" (click)="closeRecoverPassword()">CANCELAR</button>-->
<!--      <button class="btn btn-warning" (click)="sendRecoverPassword()" [disabled]="newUserForm.invalid">RECUPERAR-->
<!--      </button>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->

<!--&lt;!&ndash; success recover alert &ndash;&gt;-->
<!--<div class="position-fixed top-0 end-0 m-4 success-request">-->
<!--  <div class="alert alert-success" role="alert" *ngIf="successRecover">-->
<!--    Su solicitud se ha realizado exitosamente, pronto recibirá con las intrucciones de recuperación-->
<!--  </div>-->
<!--</div>-->

