<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="d-flex justify-content-center">
            <img src="assets/img/logo.jpg" alt="registro" class="img-fluid logo">
        </div>

        <div class="modal-header justify-content-center">
            <h5 class="modal-title" id="exampleModalLabel">BIENVENIDO</h5>
        </div>

        
        <div class="modal-body px-5">
            <form [formGroup]="userForm">
        
                <div class="alert alert-info" role="alert" *ngIf='userTypeField?.value == ""'>
                    <i class="fa-solid fa-circle-info me-2"></i>
                    Seleccione el tipo de usuario para continuar
                </div>
        
                <div class="row">
                    <div class="col-xs-12">
                        
                        <div class="form-group">
                            <label mdbLabel class="form-label mb-2x" for="userType">
                                Tipo de Usuario <span class="text-danger">*</span>
                            </label>
                            <!-- <mdb-select mdbValidate id="userType" class="mb-5" 
                                data-mdb-placeholder="Tipo de Usuario" formControlName="userType">
                                <mdb-option value = "user"> Usuario </mdb-option>
                            </mdb-select> -->
                            <select class="form-select mb-4" id="userType" formControlName="userType">
                                <option value="user">Usuario</option>
                                <option value="admin">Administrador</option>
                            </select>
                            
                        </div>
                          
                    </div>
                </div>

                <div class="row" *ngIf='userTypeField?.value == "user"'>
                    <div class="col-xs-12">
                        
                        <div class="form-group">
                            <label mdbLabel class="form-label mb-2x" for="location">
                                Región <span class="text-danger">*</span>
                            </label>
                            <select class="form-select mb-4" id="location" formControlName="location">
                                <option value="quito">Quito</option>
                                <option value="guayaquil">Guayaquil</option>
                            </select>
                            
                        </div>
                          
                    </div>
                </div>

                <div class="row" *ngIf='userTypeField?.value != ""'>
                    <div class="col-sm-12">
                        <div class="row" [ngClass]="{'mb-5': mailField?.invalid  && (mailField?.dirty || mailField?.touched)  }">
                            <div class="col-xs-12">
                                    
                                <mdb-form-control>
                
                                    <input mdbInput mdbValidate type="email" id="mail" 
                                        class="form-control mb-4" formControlName="mail"/>
                                    <label mdbLabel class="form-label " for="mail">
                                        Correo Electr&oacute;nico
                                    </label>
                
                                    <mdb-error *ngIf="mailField?.invalid  && (mailField?.dirty || mailField?.touched)">
                                        <span *ngIf="mailField?.hasError('required')">
                                        <i class="fas fa-exclamation-circle mb-1"></i>
                                        Este campo es requerido
                                        </span>
                                        <span *ngIf="mailField?.hasError('pattern')">
                                            <i class="fas fa-exclamation-circle mb-1"></i>
                                            El correo electr&oacute;nico no es v&aacute;lido, debe tener el formato <strong>usuario&#x40;netlife.net.ec</strong>
                                        </span>
                                    </mdb-error>
                                </mdb-form-control>
                
                            </div>
                        </div>
                
                        <div class="row" [ngClass]="{'mb-4': passwordField?.invalid  && (passwordField?.dirty || passwordField?.touched) }">
                            <div class="col-xs-12">
                                
                                <mdb-form-control>
                
                                    <input mdbInput mdbValidate type="password" id="password" 
                                        class="form-control mb-4" formControlName="password"/>
                                    <label mdbLabel class="form-label" for="password">
                                        Contrase&ntilde;a
                                    </label>
                
                                    <mdb-error *ngIf="passwordField?.invalid  && (passwordField?.dirty || passwordField?.touched)">
                                        <span *ngIf="passwordField?.hasError('required')">
                                          <i class="fas fa-exclamation-circle mb-1"></i>
                                           Este campo es requerido
                                        </span>
                                    </mdb-error>
                                </mdb-form-control>
                
                            </div>
                        </div>
                
                        <div class="row px-2 pt-3">
                            <button type="button" class="btn btn-warning"
                                (click)="login()" [disabled]="userForm.invalid">
                                Iniciar Sesi&oacute;n
                            </button>
                        </div>
                    </div>
                </div>
        
            </form>
        
        
        </div>
        
        <div class="modal-footer request">
            <div class="col-sm-12 text-center">
                ¿No tiene una cuenta? <a href="">Solicite unirse a la plataforma</a>
            </div>            
        </div>
          
    </div>
</div>
