.header {
  background-color: black;
  font-family: "HelveticaLTStd";
  height: 11vh;
  font-size: 15px;

  .title {
    color: white;
  }

  .login {
    color: white;
  }
  .login:hover {
    text-shadow: -2px -1px 0px #d1633f;
  }

  .icon {
    color: white;
  }

  .icon:hover {
    text-shadow: -2px -1px 0px #d1633f;
  }
}