// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$netbooking-palette: (
  50: #fff8e1,
  100: #ffecb3,
  200: #ffe082,
  300: #ffd54f,
  400: #ffca28,
  500: #ffc107,
  600: #ffb300,
  700: #ffa000,
  800: #ff8f00,
  900: #ff6f00,
  A100: #ffe57f,
  A200: #ffd740,
  A400: #ffc400,
  A700: #ffab00,
  principal: #E4A11B,
  white: #ffffff,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$webapp-bookings-primary: mat.define-palette($netbooking-palette, white);
$webapp-bookings-accent: mat.define-palette($netbooking-palette, principal, 900);

// The warn palette is optional (defaults to red).
$webapp-bookings-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$webapp-bookings-theme: mat.define-light-theme((
  color: (
    primary: $webapp-bookings-primary,
    accent: $webapp-bookings-accent,
    warn: $webapp-bookings-warn,
  ),
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($webapp-bookings-theme);

/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';


html, body {
  height: 100%;
}

body {
  margin: 0;
}

$font-size-root: 0.9em;

@font-face {
  font-family: "HelveticaLTStd";
  src: url("assets/fonts/HelveticaLTStd-LightCond.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

$font-family-base: "HelveticaLTStd", "Trebuchet MS", Verdana, sans-serif;

i {
  color: #5B5B5B;
}

@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';
